body {
  background: #f6f6fa;
  padding: 40px 40px 40px 40px;
  font-family: "Montserrat", sans-serif;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

ol {
    margin-top: 0;
    margin-bottom: 0;
}

.obgortka {
  background: #fff;
  display: flex;
  flex-direction: row-reverse;
}

.main-content {
  background:#FFF8DC;
  padding-left: 88px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 40x;
  box-sizing: border-box;
}

.sidebar {
  background: #e0ebfe;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.sidebar-content {
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

.contacts-title {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

/* Contact slyle */

.contacts-type {
  color: #161d2a;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 8px;
}

/* Style of number and email */

.contacts-link {
  color: #2979ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

.contacts-item {
  margin-top: 0;
  margin-bottom: 2px;
}

.contacts_container {
  margin-bottom: 40px;
}

/* Skills container */

.skills-container {
  margin-bottom: 40px;
}

.skills-title {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.skills-list {
  padding-left: 20px;
}

.skills-list-item {
  color: #161d2a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
/* Main content */

/* Profession */
.info-head {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 8px;
}

/* Name */
.myname {
  color: #000;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  margin-top: 0;
  margin-bottom: 12px;
}

/* Description */
.me-description {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.my-info {
  box-sizing: border-box;
  margin-bottom: 40px ;
}

/* my projects */

.my-projects-title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 8px;
}

.my-projects-item {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.my-projects-list {
  padding-left: 16px;
  padding-bottom: 40px;
}

.my-projects-item-link {
  color: #005fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  margin-left: 14.1px;
}

.my-projects-item-tech{
    color: #595959;
font-size: 14px;
font-weight: 400;
line-height: 24px;
}

.workexp {
    color: #000;
font-size: 22px;
font-weight: 700;
line-height: 27px;
margin-top: 0;
margin-bottom: 8px;
}

/* Work 1 styles */
.work1{
    color: #000;
font-size: 16px;
font-weight: 700;
line-height: 20px; 
margin-top: 0;
margin-bottom: 12px;
}

.work1date{
    color: #A8A8A8;
font-size: 12px;
font-weight: 400;
line-height: 15px;
}
.work1separator{
    color: #000;
font-size: 12px;
font-weight: 400;
line-height: 15px;
}

.work1duty {
padding-left: 16px;
}

.work1duty-list{
    color: #595959;
font-size: 14px;
font-weight: 400;
line-height: 24px;
}

/* work 2 styles */

.work2{
    color: #000;
font-size: 16px;
font-weight: 700;
line-height: 20px;
margin-top: 0;
margin-bottom: 12px;
}

.work2free{
    color: #6D9BF5;
}

.work2date{
    color: #A8A8A8;
font-size: 12px;
font-weight: 400;
line-height: normal;
}

.work2separator{
    color: #000;
}

.work2duty{
    padding-left: 16px;
}

.work2duty-item{
    color: #595959;
font-size: 14px;
font-weight: 400;
line-height: 24px;
}

.work3{
    color: #000;
font-size: 16px;
font-weight: 700;
line-height: normal;
margin-top: 0;
margin-bottom: 12px;
}

.work3best{
    color: #6D9BF5;
}

.work3date{
    color: #A8A8A8;
font-size: 12px;
font-weight: 400;
line-height: normal;
}

.work3separator{
    color: #000;
}

.work3duty{
    padding-left: 16px;
}

.work3duty-item{
    color: #595959;
font-size: 14px;
font-weight: 400;
line-height: 24px; 
}

.education{
    color: #000;
font-size: 22px;
font-weight: 700;
line-height: normal;
margin-top: 0;
margin-bottom: 8px;
}

.education-place{
    color: #6D9BF5;
font-size: 16px;
font-weight: 700;
line-height: normal;
margin-top: 0;
margin-bottom: 8px;
}

.education-type{
    color: #000;
font-size: 14px;
font-weight: 700;
line-height: normal;
}

.education-date {
    color: #A8A8A8;
font-size: 12px;
font-weight: 400;
line-height: normal;
}

.date-separator{
    color: #000;
}

.work1place {
    margin-bottom: 12px;
}

.work2place{
    margin-bottom: 12px;
}

.work3place {
    margin-bottom: 40px;
}